<style>
    input{
        margin-top:20px;
    }
</style>
<form action="/vehicle/view" method="post">
<h1>Enter New Vehicle</h1>

    <input type="text" name="name" placeholder="Enter name">
    <br>
    <input type="text" name="power" placeholder="Enter power">
    <br>
    <input type="url" name="image" placeholder="Enter image">

    <div class="form-group">
        <input type="submit" name="" value="Submit">
    </div>
</form>