<table>
    <tr>
        <td>Name</td>
        <td>Power</td>
        <td>Image</td>
    </tr>
    <tr>
        <td>{{ vehicle.name }}</td>
        <td>{{ vehicle.power }}</td>
        <td><img src="{{vehicle.image}}"></td>
    </tr>
</table>